<title>TinyApp</title>

<% if (username) { %>
  <h5>Your Username: <%= username %></h5>

  <form action="/logout" method="POST">
    <input type="submit" value="LOG OUT">
  </form>

<% } else { %>

  <form action="/login" method="POST">
    <!-- 'name=' must be same as value parameter in res.cookie(name, value, options) -->
    <!-- 'value=' is whatever the user inputs into the form -->
    <input type="text" name="username" value="">
    <input type="submit" value="LOG IN">
  </form>

<% } %>