<%- include partials/_head %>
<%- include partials/_header %>

<body>
<div class="container">
  <form action="/urls" method="POST" style="margin:150px;">
    <label for="longURL">Enter a URL:
    <input id="longURL" type="text" name="longURL" value="http://" placeholder="http://" style="width: 300px">
    </label>
    <input type="submit" value="Submit">
  </form>
  </div>

<%- include partials/_footer %>