<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>

  <h1>Individual Full URL and Shortened URL</h1>
  <ul>

      <li>Short URL: <%= shortURL %></li>
      <li>Long URL: <%= longURL %></li>
  </ul>

</body>

</html>