<form action="/register" method="POST">
<<<<<<< HEAD
  <input type="email" name="email" value="">
  <input type="password" name="password" value="">
=======
  <h1>Create an Account</h1>
  <input type="email" name="email" placeholder="email" value="">
  <input type="password" name="password" placeholder="password" value="">
  <input type="submit" value="Submit">
>>>>>>> feature/user-registration
</form>