<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/_header %>

</head>

<body>

  <h1>Full URLS and Shortened URLS</h1>
  <ul>
    <% for (item in urls) { %>
      <li><%= item %> - <%= urls[item] %></li>

      <form action="/urls/<%= item %>/delete" method="POST">

        <button>DELETE</button>
      </form>

    <% } %>
  </ul>

  <a href="urls/new">Shorten a URL</a>
</body>

</html>