<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/_header %>
</head>

<body>

  <h1>Individual Full URL and Shortened URL</h1>
  <ul>
      <li>Short URL: <%= shortURL %></li>
 </ul>

  <br>

  <h3>Update your link</h3>

  <!-- correlate to the path and method in server.js -->
  <form action="/urls/<%= shortURL %>" method="POST">

  <!-- 'name=' correlates with the key in req.body so {longURL: www.amazon.com} -->
    <input type="text" name="longURL" value=<%= longURL %>>

    <input type="submit" value="UPDATE">
  </form>

  <br>
  <br>

  <a href = "/urls/new"> Submit another URL </a>

</body>

</html>